
<div>
    <h1>Login</h1>
    <form id="loginForm" action="/api/login" method="POST">
        <label>Email</label>
        <input name="email">
        <br />
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>

    <button id="button">SDFSDF</button>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>

</div>


<script src="/src/public/js/login.js"></script>